# XLS and XLSX files. . Exercise 4

Pandas documentation: https://pandas.pydata.org/docs/index.html

Pandas API reference: https://pandas.pydata.org/docs/reference/index.html#api

In [18]:
# import pandas library
import pandas as pd

### Sales Dataset

**Source**: Tableau Community

https://community.tableau.com/s/question/0D54T00000CWeX8SAL/sample-superstore-sales-excelxls

In [ ]:
# Load the Excel file from GitHub repo
file = 'https://github.com/bigdatawirtz/sistemas-bigdata-2024/raw/refs/heads/main/datasets/sample_superstore.xls'
df_store = pd.read_excel(file)

In [62]:
# Load XLS file (from local filesystem)
df_store = pd.read_excel('../../data/Sample_Superstore.xls')

In [63]:
# show DataFrame
df_store

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,CA-2014-110422,2014-01-21,2014-01-23,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,...,33180,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.2480,3,0.20,4.1028
9990,9991,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.9600,2,0.00,15.6332
9991,9992,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.5760,2,0.20,19.3932
9992,9993,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.6000,4,0.00,13.3200
9993,9994,CA-2017-119914,2017-05-04,2017-05-09,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,...,92683,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.1600,2,0.00,72.9480

In [64]:
# Show the 3 first rows
df_store.loc[0:2]

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.96,2,0.0,41.9136
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.94,3,0.0,219.5820
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.62,2,0.0,6.8714

In [65]:
# Show 5 random rows
df_store.sample(5)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
4974,4975,CA-2016-164896,2016-11-07,2016-11-12,Standard Class,PS-19045,Penelope Sewall,Home Office,United States,Oceanside,...,92054,West,OFF-PA-10002246,Office Supplies,Paper,"Wirebound Four 2-3/4 x 5 Forms per Page, 400 S...",12.900,2,0.00,6.3210
6812,6813,CA-2017-156237,2017-09-14,2017-09-15,First Class,PS-18760,Pamela Stobb,Consumer,United States,Philadelphia,...,19140,East,OFF-BI-10003707,Office Supplies,Binders,Aluminum Screw Posts,18.312,4,0.70,-12.2080
1390,1391,US-2016-108504,2016-02-05,2016-02-05,Same Day,PP-18955,Paul Prost,Home Office,United States,Smyrna,...,30080,South,OFF-PA-10000357,Office Supplies,Paper,"White Dual Perf Computer Printout Paper, 2700 ...",122.970,3,0.00,60.2553
1418,1419,CA-2015-126697,2015-09-21,2015-09-24,First Class,SV-20815,Stuart Van,Corporate,United States,Houston,...,77041,Central,FUR-FU-10001706,Furniture,Furnishings,Longer-Life Soft White Bulbs,4.928,4,0.60,-1.4784
4023,4024,CA-2017-130764,2017-10-27,2017-10-28,First Class,JO-15145,Jack O'Briant,Corporate,United States,San Francisco,...,94110,West,FUR-BO-10003034,Furniture,Bookcases,"O'Sullivan Elevations Bookcase, Cherry Finish",556.665,5,0.15,6.5490

In [66]:
# From the last 10 rows, show the 5 first ones
df_store.tail(10).head(5)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
9984,9985,CA-2015-100251,2015-05-17,2015-05-23,Standard Class,DV-13465,Dianna Vittorini,Consumer,United States,Long Beach,...,11561,East,OFF-LA-10003766,Office Supplies,Labels,Self-Adhesive Removable Labels,31.50,10,0.0,15.1200
9985,9986,CA-2015-100251,2015-05-17,2015-05-23,Standard Class,DV-13465,Dianna Vittorini,Consumer,United States,Long Beach,...,11561,East,OFF-SU-10000898,Office Supplies,Supplies,Acme Hot Forged Carbon Steel Scissors with Nic...,55.60,4,0.0,16.1240
9986,9987,CA-2016-125794,2016-09-29,2016-10-03,Standard Class,ML-17410,Maris LaWare,Consumer,United States,Los Angeles,...,90008,West,TEC-AC-10003399,Technology,Accessories,Memorex Mini Travel Drive 64 GB USB 2.0 Flash ...,36.24,1,0.0,15.2208
9987,9988,CA-2017-163629,2017-11-17,2017-11-21,Standard Class,RA-19885,Ruben Ausman,Corporate,United States,Athens,...,30605,South,TEC-AC-10001539,Technology,Accessories,Logitech G430 Surround Sound Gaming Headset wi...,79.99,1,0.0,28.7964
9988,9989,CA-2017-163629,2017-11-17,2017-11-21,Standard Class,RA-19885,Ruben Ausman,Corporate,United States,Athens,...,30605,South,TEC-PH-10004006,Technology,Phones,Panasonic KX - TS880B Telephone,206.10,5,0.0,55.6470

In [67]:
# Show 3 random rows from the first 50 ones
df_store.head(50).sample( 3, random_state = 42)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
13,14,CA-2016-161389,2016-12-05,2016-12-10,Standard Class,IM-15070,Irene Maddox,Consumer,United States,Seattle,...,98103,West,OFF-BI-10003656,Office Supplies,Binders,Fellowes PB200 Plastic Comb Binding Machine,407.976,3,0.2,132.5922
39,40,CA-2015-117415,2015-12-27,2015-12-31,Standard Class,SN-20710,Steve Nguyen,Home Office,United States,Houston,...,77041,Central,FUR-CH-10004218,Furniture,Chairs,"Global Fabric Manager's Chair, Dark Gray",212.058,3,0.3,-15.1470
30,31,US-2015-150630,2015-09-17,2015-09-21,Standard Class,TB-21520,Tracy Blumstein,Consumer,United States,Philadelphia,...,19140,East,OFF-EN-10001509,Office Supplies,Envelopes,Poly String Tie Envelopes,3.264,2,0.2,1.1016

In [68]:
# Show info about column data types
df_store.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   datetime64[ns]
 3   Ship Date      9994 non-null   datetime64[ns]
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: datetime64[ns](2), float64(3), int64(3), object(13)
memory usage: 1.6+ MB

In [72]:
# Show the next info
#
# zip code type: 
#
# Discount type: 
#
# Country data type: 
# Display the data types of specific columns
df_store[['Postal Code', 'Discount', 'Country']].dtypes

Postal Code      int64
Discount       float64
Country         object
dtype: object

In [78]:
# Show column names
df_store.columns.tolist()

['Row ID',
 'Order ID',
 'Order Date',
 'Ship Date',
 'Ship Mode',
 'Customer ID',
 'Customer Name',
 'Segment',
 'Country',
 'City',
 'State',
 'Postal Code',
 'Region',
 'Product ID',
 'Category',
 'Sub-Category',
 'Product Name',
 'Sales',
 'Quantity',
 'Discount',
 'Profit']

In [79]:
# Select and show 5 different random cities
df_store.sample(5)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
892,893,CA-2017-133256,2017-06-26,2017-06-27,First Class,TH-21550,Tracy Hopkins,Home Office,United States,Detroit,...,48227,Central,OFF-AR-10003158,Office Supplies,Art,Fluorescent Highlighters by Dixon,15.920,4,0.0,5.4128
2405,2406,CA-2017-108574,2017-10-07,2017-10-11,Standard Class,MG-18145,Mike Gockenbach,Consumer,United States,Los Angeles,...,90045,West,TEC-PH-10003555,Technology,Phones,Motorola HK250 Universal Bluetooth Headset,128.744,7,0.2,-28.9674
3604,3605,CA-2017-112956,2017-08-21,2017-08-27,Standard Class,TH-21550,Tracy Hopkins,Home Office,United States,Columbia,...,21044,East,FUR-FU-10003976,Furniture,Furnishings,"DAX Executive Solid Wood Document Frame, Deskt...",25.160,2,0.0,8.5544
9354,9355,CA-2015-110324,2015-12-01,2015-12-05,Standard Class,MA-17560,Matt Abelman,Home Office,United States,Jackson,...,49201,Central,OFF-PA-10001826,Office Supplies,Paper,Xerox 207,19.440,3,0.0,9.3312
8904,8905,US-2016-126431,2016-07-01,2016-07-01,Same Day,SU-20665,Stephanie Ulpright,Home Office,United States,New York City,...,10009,East,OFF-LA-10001474,Office Supplies,Labels,Avery 477,30.530,1,0.0,14.0438

In [90]:
# Show the different countries that appear in the data
df_store['Country'].unique().tolist()

['United States']

In [94]:
# Show the different categories
df_store['Category'].unique().tolist()

['Furniture', 'Office Supplies', 'Technology']

In [98]:
# Select client id, name and city
df_store[['Customer ID','Customer Name', 'City']]

     Customer ID     Customer Name             City
0       CG-12520       Claire Gute        Henderson
1       CG-12520       Claire Gute        Henderson
2       DV-13045   Darrin Van Huff      Los Angeles
3       SO-20335    Sean O'Donnell  Fort Lauderdale
4       SO-20335    Sean O'Donnell  Fort Lauderdale
...          ...               ...              ...
9989    TB-21400  Tom Boeckenhauer            Miami
9990    DB-13060       Dave Brooks       Costa Mesa
9991    DB-13060       Dave Brooks       Costa Mesa
9992    DB-13060       Dave Brooks       Costa Mesa
9993    CC-12220      Chris Cortes      Westminster

[9994 rows x 3 columns]

In [99]:
# Select Order ID (as Dataframe)
df_store[['Order ID']]

            Order ID
0     CA-2016-152156
1     CA-2016-152156
2     CA-2016-138688
3     US-2015-108966
4     US-2015-108966
...              ...
9989  CA-2014-110422
9990  CA-2017-121258
9991  CA-2017-121258
9992  CA-2017-121258
9993  CA-2017-119914

[9994 rows x 1 columns]

In [100]:
# Count elements in Series "Region"
df_store['Region'].count()

np.int64(9994)

In [101]:
# Show elementes from "Region" Series
df_store['Region']

0       South
1       South
2        West
3       South
4       South
        ...
9989    South
9990     West
9991     West
9992     West
9993     West
Name: Region, Length: 9994, dtype: object

In [105]:
# Count different elements in Series "Region"
df_store['Region'].nunique()

4

In [107]:
# Create a Series with quantities in each order line and show the result
qs = df_store['Quantity']

In [117]:
# Show the lines with quantities greater than 2
qs[qs > 2]

1        3
3        5
5        7
6        4
7        6
        ..
9984    10
9985     4
9988     5
9989     3
9992     4
Name: Quantity, Length: 6693, dtype: int64

In [ ]:
# Show only the DataFrame lines with subcategory  "Tables"
df_store.query("`Sub-Category` == 'Tables'")
# df_store[df_store['Sub-Category'] == 'Tables'] #option 2

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
10,11,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032,West,FUR-TA-10001539,Furniture,Tables,Chromcraft Rectangular Conference Tables,1706.1840,9,0.20,85.3092
24,25,CA-2015-106320,2015-09-25,2015-09-30,Standard Class,EB-13870,Emily Burns,Consumer,United States,Orem,...,84057,West,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,1044.6300,3,0.00,240.2649
117,118,CA-2015-110457,2015-03-02,2015-03-06,Standard Class,DK-13090,Dave Kipp,Consumer,United States,Seattle,...,98103,West,FUR-TA-10001768,Furniture,Tables,Hon Racetrack Conference Tables,787.5300,3,0.00,165.3813
125,126,US-2014-134614,2014-09-20,2014-09-25,Standard Class,PF-19165,Philip Fox,Consumer,United States,Bloomington,...,61701,Central,FUR-TA-10004534,Furniture,Tables,Bevis 44 x 96 Conference Tables,617.7000,6,0.50,-407.6820
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9857,9858,CA-2015-164301,2015-03-26,2015-03-30,Standard Class,EB-13840,Ellis Ballard,Corporate,United States,Seattle,...,98103,West,FUR-TA-10001889,Furniture,Tables,Bush Advantage Collection Racetrack Conference...,3393.6800,8,0.00,610.8624
9899,9900,US-2014-117380,2014-03-28,2014-04-03,Standard Class,MP-18175,Mike Pelletier,Home Office,United States,Springfield,...,45503,East,FUR-TA-10000198,Furniture,Tables,Chromcraft Bull-Nose Wood Oval Conference Tabl...,330.5880,1,0.40,-143.2548
9937,9938,CA-2016-164889,2016-06-03,2016-06-06,Second Class,CP-12340,Christine Phan,Corporate,United States,Los Angeles,...,90049,West,FUR-TA-10001676,Furniture,Tables,Hon 61000 Series Interactive Training Tables,71.0880,2,0.20,-1.7772
9955,9956,CA-2015-141593,2015-12-14,2015-12-16,Second Class,DB-12970,Darren Budd,Corporate,United States,Los Angeles,...,90045,West,FUR-TA-10002622,Furniture,Tables,"Bush Andora Conference Table, Maple/Graphite G...",273.5680,2,0.20,10.2588
9980,9981,US-2015-151435,2015-09-06,2015-09-09,Second Class,SW-20455,Shaun Weien,Consumer,United States,Lafayette,...,70506,South,FUR-TA-10001039,Furniture,Tables,KI Adjustable-Height Table,85.9800,1,0.00,22.3548

In [132]:
# Show the cities with orders including "Tables"
df_store.query("`Sub-Category` == 'Tables'")[['City', 'Sub-Category']]

                 City Sub-Category
3     Fort Lauderdale       Tables
10        Los Angeles       Tables
24               Orem       Tables
117           Seattle       Tables
125       Bloomington       Tables
...               ...          ...
9857          Seattle       Tables
9899      Springfield       Tables
9937      Los Angeles       Tables
9955      Los Angeles       Tables
9980        Lafayette       Tables

[319 rows x 2 columns]

In [139]:
df_store[df_store['Sub-Category'] == 'Tables'][['City']]

                 City
3     Fort Lauderdale
10        Los Angeles
24               Orem
117           Seattle
125       Bloomington
...               ...
9857          Seattle
9899      Springfield
9937      Los Angeles
9955      Los Angeles
9980        Lafayette

[319 rows x 1 columns]

In [142]:
# Create a variable (type Series) of cities with orders including Tables. Show 5 random elements.
cities_series = df_store.loc[df_store['Sub-Category'] == 'Tables', 'City'].sample(n=5, random_state=1)
cities_series

3614      San Antonio
3257         Franklin
2277        Southaven
3914          Phoenix
3979    New York City
Name: City, dtype: object

In [143]:
# Create a variable (type DataFrame) of cities with orders including Chairs. Show the 3 last elements.
cities_df = df_store[df_store['Sub-Category'] == 'Chairs'][['City', 'Sub-Category']].tail(3)
cities_df

               City Sub-Category
9912  Santa Barbara       Chairs
9919          Bryan       Chairs
9947   Indianapolis       Chairs

In [144]:
# Show all the order lines including Phones to 'Los Angeles'
df_store[(df_store['Sub-Category'] == 'Phones') & (df_store['City'] == 'Los Angeles')]

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
7,8,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032,West,TEC-PH-10002275,Technology,Phones,Mitel 5320 IP Phone VoIP phone,907.152,6,0.2,90.7152
11,12,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032,West,TEC-PH-10002033,Technology,Phones,Konftel 250 Conference phone - Charcoal black,911.424,4,0.2,68.3568
90,91,CA-2016-109806,2016-09-17,2016-09-22,Standard Class,JS-15685,Jim Sink,Corporate,United States,Los Angeles,...,90036,West,TEC-PH-10004093,Technology,Phones,Panasonic Kx-TS550,73.584,2,0.2,8.2782
218,219,CA-2016-130162,2016-10-28,2016-11-01,Standard Class,JH-15910,Jonathan Howell,Consumer,United States,Los Angeles,...,90032,West,TEC-PH-10002563,Technology,Phones,Adtran 1202752G1,302.376,3,0.2,22.6782
477,478,CA-2016-103891,2016-07-12,2016-07-19,Standard Class,KH-16690,Kristen Hastings,Corporate,United States,Los Angeles,...,90008,West,TEC-PH-10000149,Technology,Phones,Cisco SPA525G2 IP Phone - Wireless,95.760,6,0.2,7.1820
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9234,9235,CA-2016-126732,2016-09-02,2016-09-06,Standard Class,LR-16915,Lena Radford,Consumer,United States,Los Angeles,...,90036,West,TEC-PH-10001530,Technology,Phones,Cisco Unified IP Phone 7945G VoIP phone,1091.168,4,0.2,68.1980
9454,9455,CA-2015-129546,2015-09-28,2015-10-05,Standard Class,RP-19855,Roy Phan,Corporate,United States,Los Angeles,...,90032,West,TEC-PH-10003555,Technology,Phones,Motorola HK250 Universal Bluetooth Headset,36.784,2,0.2,-8.2764
9764,9765,CA-2014-123855,2014-06-18,2014-06-23,Standard Class,MC-18100,Mick Crebagga,Consumer,United States,Los Angeles,...,90036,West,TEC-PH-10000215,Technology,Phones,Plantronics Cordless Phone Headset with In-lin...,139.800,5,0.2,12.2325
9973,9974,US-2016-103674,2016-12-06,2016-12-10,Standard Class,AP-10720,Anne Pryor,Home Office,United States,Los Angeles,...,90032,West,TEC-PH-10004080,Technology,Phones,Avaya 5410 Digital phone,271.960,5,0.2,27.1960
9976,9977,US-2016-103674,2016-12-06,2016-12-10,Standard Class,AP-10720,Anne Pryor,Home Office,United States,Los Angeles,...,90032,West,TEC-PH-10002496,Technology,Phones,Cisco SPA301,249.584,2,0.2,31.1980

In [152]:
# Show 10 random order lines with Phones or Tables
df_store[df_store['Sub-Category'].isin(['Phones', 'Tables'])]

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
7,8,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032,West,TEC-PH-10002275,Technology,Phones,Mitel 5320 IP Phone VoIP phone,907.1520,6,0.20,90.7152
10,11,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032,West,FUR-TA-10001539,Furniture,Tables,Chromcraft Rectangular Conference Tables,1706.1840,9,0.20,85.3092
11,12,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032,West,TEC-PH-10002033,Technology,Phones,Konftel 250 Conference phone - Charcoal black,911.4240,4,0.20,68.3568
19,20,CA-2014-143336,2014-08-27,2014-09-01,Second Class,ZD-21925,Zuschuss Donatelli,Consumer,United States,San Francisco,...,94109,West,TEC-PH-10001949,Technology,Phones,Cisco SPA 501G IP Phone,213.4800,3,0.20,16.0110
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9976,9977,US-2016-103674,2016-12-06,2016-12-10,Standard Class,AP-10720,Anne Pryor,Home Office,United States,Los Angeles,...,90032,West,TEC-PH-10002496,Technology,Phones,Cisco SPA301,249.5840,2,0.20,31.1980
9980,9981,US-2015-151435,2015-09-06,2015-09-09,Second Class,SW-20455,Shaun Weien,Consumer,United States,Lafayette,...,70506,South,FUR-TA-10001039,Furniture,Tables,KI Adjustable-Height Table,85.9800,1,0.00,22.3548
9983,9984,US-2016-157728,2016-09-22,2016-09-28,Standard Class,RC-19960,Ryan Crowe,Consumer,United States,Grand Rapids,...,49505,Central,TEC-PH-10001305,Technology,Phones,Panasonic KX TS208W Corded phone,97.9800,2,0.00,27.4344
9988,9989,CA-2017-163629,2017-11-17,2017-11-21,Standard Class,RA-19885,Ruben Ausman,Corporate,United States,Athens,...,30605,South,TEC-PH-10004006,Technology,Phones,Panasonic KX - TS880B Telephone,206.1000,5,0.00,55.6470
9991,9992,CA-2017-121258,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.5760,2,0.20,19.3932

In [158]:
# Select the second row of the dataframe
df_store[df_store['Sub-Category'].isin(['Phones', 'Tables'])].iloc[[1]]

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
7,8,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032,West,TEC-PH-10002275,Technology,Phones,Mitel 5320 IP Phone VoIP phone,907.152,6,0.2,90.7152

In [161]:
# Select the third, seventh and 24 row of the dataset
df_store.iloc[[3, 7, 24]]

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
7,8,CA-2014-115812,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,...,90032,West,TEC-PH-10002275,Technology,Phones,Mitel 5320 IP Phone VoIP phone,907.1520,6,0.20,90.7152
24,25,CA-2015-106320,2015-09-25,2015-09-30,Standard Class,EB-13870,Emily Burns,Consumer,United States,Orem,...,84057,West,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,1044.6300,3,0.00,240.2649

In [174]:
# create a dataframe (sales) with the client name, city, product name and quantity from West region
sales = df_store.query("Region == 'West'")[['Customer Name', 'City', 'Product Name', 'Quantity']]
sales

,Customer Name,City,Product Name,Quantity
2,Darrin Van Huff,Los Angeles,Self-Adhesive Address Labels for Typewriters b...,2
5,Brosina Hoffman,Los Angeles,Eldon Expressions Wood and Plastic Desk Access...,7
6,Brosina Hoffman,Los Angeles,Newell 322,4
7,Brosina Hoffman,Los Angeles,Mitel 5320 IP Phone VoIP phone,6
8,Brosina Hoffman,Los Angeles,DXL Angle-View Binders with Locking Rings by S...,3
...,...,...,...,...
9986,Maris LaWare,Los Angeles,Memorex Mini Travel Drive 64 GB USB 2.0 Flash ...,1
9990,Dave Brooks,Costa Mesa,Tenex B1-RE Series Chair Mats for Low Pile Car...,2
9991,Dave Brooks,Costa Mesa,Aastra 57i VoIP phone,2
9992,Dave Brooks,Costa Mesa,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",4
9993,Chris Cortes,Westminster,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",2

In [176]:
# Select the second row from the previous DataFrame (sales) using position
sales.iloc[[1]]

,Customer Name,City,Product Name,Quantity
5,Brosina Hoffman,Los Angeles,Eldon Expressions Wood and Plastic Desk Access...,7

In [ ]:
# Think about what's the best column in the spreadsheet to use it as an index and load the file again in a new DataFrame
df_store2 = pd.read_excel('../../data/Sample_Superstore.xls', index_col=1)
df_store2.head()

,Row ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
Order ID,,,,,,,,,,,,,,,,,,,,
CA-2016-152156,1,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
CA-2016-152156,2,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
CA-2016-138688,3,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
US-2015-108966,4,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
US-2015-108966,5,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [185]:
# Select the fifth row
df_store2.iloc[[4]]

,Row ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
Order ID,,,,,,,,,,,,,,,,,,,,
US-2015-108966,5,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.368,2,0.2,2.5164

In [189]:
# Select rows from the third to the seventh one
df_store2.iloc[1:7]

,Row ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
Order ID,,,,,,,,,,,,,,,,,,,,
CA-2016-152156,2,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
CA-2016-138688,3,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
US-2015-108966,4,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
US-2015-108966,5,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164
CA-2014-115812,6,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032,West,FUR-FU-10001487,Furniture,Furnishings,Eldon Expressions Wood and Plastic Desk Access...,48.8600,7,0.00,14.1694
CA-2014-115812,7,2014-06-09,2014-06-14,Standard Class,BH-11710,Brosina Hoffman,Consumer,United States,Los Angeles,California,90032,West,OFF-AR-10002833,Office Supplies,Art,Newell 322,7.2800,4,0.00,1.9656

In [198]:
# Select penultimate row
df_store2.iloc[[-2]]

,Row ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
Order ID,,,,,,,,,,,,,,,,,,,,
CA-2017-121258,9993,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,California,92627,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.6,4,0.0,13.32

In [202]:
# Select, given the last 5 rows, all but the last one.
df_store2.iloc[-5:-1]

,Row ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
Order ID,,,,,,,,,,,,,,,,,,,,
CA-2014-110422,9990,2014-01-21,2014-01-23,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,Florida,33180,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.248,3,0.2,4.1028
CA-2017-121258,9991,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,California,92627,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.960,2,0.0,15.6332
CA-2017-121258,9992,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,California,92627,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.576,2,0.2,19.3932
CA-2017-121258,9993,2017-02-26,2017-03-03,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,California,92627,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x 5""",29.600,4,0.0,13.3200

In [55]:
# Depending on what we need, we can use loc or iloc
# loc <- work with index/labels
# iloc <- work with positions

In [ ]:
# Write to XLS all the sales in the State of California
california_sales = sales.query("City == 'California'")

In [208]:
# Give a name to the sheet ('California') 
california_sales.to_excel('../../data/california_sales.xlsx', sheet_name='California', index=False)

In [219]:
californian_df = pd.read_excel('../../data/california_sales.xlsx', sheet_name='California')
californian_df

Empty DataFrame
Columns: [Customer Name, City, Product Name, Quantity]
Index: []

In [222]:
# Save the sales rows in the west or south. 
# Save the product name, identifier, quantity and discount. 
# Save the result in a file sales_WS.xlsx
# Try to do it all in a single row
df_store2.query("Region in ['West', 'South']")[['Product Name', 'Product ID', 'Quantity', 'Discount']].to_excel('../../data/sales_WS.xlsx', index=False)